<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Users/rebeccajbooth/Documents/WebScraping/Docs/mars.css"/>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
        
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <div class="jumbotron">
      <span style="background-color:white">

        <h3>Latest Mars News</h3>
        <h4>"{{ mars.news_header }}"</h4>
        <h4>"{{ mars.news_body }}”</h4>
      </span>

        <div class="row">
            <div class="col-sm-12 col-md-7" style="background-color:white;"><!--column 1-->
              <div class="container-fluid" id="col-one">
                <h3>Featured Mars Image</h3>
                <img src="{{ mars.featured_image }}">
              </div>
            </div>

        <div class="col-sm-12 col-md-5" style="background-color:white;"><!--Column2-->
          <div class="container-fluid" id="col-two">
            <div>
              <h4>Current Weather on Mars</h4>
              <p>"{{ mars.tweet }}"</p>
            </div>
      <!-- Mars Facts -->
            <div>
              <h4>Mars Facts</h4>
              <p>"{{ mars.table | safe}}”</p>
            </div>
          </div>
      </div><!--Column2-->
    </div><!--row-->
  </div><!--container-->
  <div class="container-fluid">
    <div class="jumbotron text-center">
        
      <h1>Hemispheres of Mars</h1>
    </div>
  </div>

    <div class="jumbotron">
        <div class="container">
          {% for hemi in mars.hemisphere %}
          <img src= "{{ hemi.url_img  }}" class="img-fluid">
          {% endfor %}
        </div>
    </div><!--container-->

    </div>

        <br>

</body>
</html>
